.form-detail-container {
    padding: 20px;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow-y: auto;
    position: relative;
  }
  
  .back-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .back-button:hover {
    background-color: #c0392b;
  }
  
  .checklist-item {
    margin-bottom: 20px;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    overflow: hidden;
    max-height: 50px;
    padding: 10px 0;
  }
  
  .checklist-item.open {
    max-height: 200px;
    padding: 10px 0;
  }
  
  .checklist-title {
    cursor: pointer;
  }
  
  .return-button,
  .submit-button {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .return-button {
    left: 50%;
    transform: translateX(-110%); /* 중앙으로부터 왼쪽으로 약간 이동 */
  }
  
  .submit-button {
    left: 50%;
    transform: translateX(10%); /* 중앙으로부터 오른쪽으로 약간 이동 */
  }
  
  .return-button:hover,
  .submit-button:hover {
    background-color: #c0392b;
  }
  