.title {
  font-size: 80px;
  font-family: 'Ownglyph_UNZ-Rg';
  margin-top: 30px;
  margin-bottom: 40px;
  color: black;
}
.home-container {
    text-align: center;
    padding: 20px;
  }
  .main-content {
    margin-top: 70px;
  }

  .main-content h1 {
    font-size: 10px;
    color: #333;
    margin-bottom: 45px;
  }
  .cta-button {
    background-color: #E74C3C;
    color: white;
    padding: 10px 80px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Ownglyph_UNZ-Rg';



    
  }
  .cta-button:hover {
    background-color: #C0392B;
  }
  .bottom-content {
    background-color: #E74C3C;
    color: white;
    padding: 50px 20px; /* 패딩을 늘려서 공간 확장 */
    margin-top: 50px;
  }
  .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px; /* 높이 고정 */
  }
  .left-text, .right-text {
    font-size: 25px;
    width: 50%;
    font-family: 'Ownglyph_UNZ-Rg';
  }
  .left-text {
    text-align: left;
  }
  .right-text {
    text-align: right;
  }

  p {
    font-size: 25px;
    color: #4d4d4d;
    margin: auto auto;
    font-family: 'Ownglyph_UNZ-Rg';
  }